#jinja2: trim_blocks: True, lstrip_blocks: True
############################################
# STATS - Paths
############################################

pagespeed StatisticsPath /pagespeed_statistics;
pagespeed GlobalStatisticsPath /pagespeed_global_statistics;
pagespeed MessagesPath /pagespeed_message;
pagespeed ConsolePath /pagespeed_console;
pagespeed AdminPath /pagespeed_admin;
pagespeed GlobalAdminPath /pagespeed_global_admin;

############################################
# STATS - Settings
############################################

pagespeed Statistics on;
pagespeed StatisticsLogging on;
pagespeed UsePerVhostStatistics on;
pagespeed LogDir {{ nginx_pagespeed_log_dir }};

pagespeed StatisticsLoggingIntervalMs 60000;
pagespeed StatisticsLoggingMaxFileSizeKb 1024;


