#jinja2: trim_blocks: True, lstrip_blocks: True
server {
	listen 80;
	server_name health;
	access_log /dev/null;
	
	server_name_in_redirect off;
	
	root  /srv/health;
	
	location /nginx_status {
		stub_status on;
		access_log   on;
{% for cidr in nginx_allow_health_cidr %}
		allow {{cidr}};
{% endfor %}
		allow 127.0.0.1;
		deny all;
	}
}

