
server {
	listen 80 default_server;
	server_name _;
	access_log /dev/null;
	
	server_name_in_redirect off;
	
	root  /srv/health;
	
	location /nginx_status {
		stub_status on;
		access_log   on;
	  {% for cidr in nginx_allow_health_cidr %}
		allow {{cidr}};
	  {% endfor %}
		allow 127.0.0.1;
		deny all;
	}
}

